*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    margin: 0px;
    padding: 0px;
}

 header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    margin: 0px;
    padding: 0px;


   
}

header h1{
    background-color:aqua;
    font-size: 48px;
    padding-left: 60px;

}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    color: aqua;
    padding: 10px;
}
nav ul li a{
    color: aqua;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-bottom: 10px;
}

.chevron-background{
    margin: 0px;
    height: 200px;
    background-image: url("/Assets/Chevron\ pattern.jpeg");
    background-color: red;
display: flex;
justify-content: end;
align-items: flex-end;
padding: 20px;
}
.chevron-background h2{
    background-color: aqua;
    padding: 10px;
}
.main-page h2 {
    margin: 50px;
    display: inline;
}
.main-page{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 20px;
   list-style-type: none;

}

.main-page div {
    border-left-style: solid;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
    margin: 0px;
    display: inline-block;
   
}