* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --red: #b22222;
  --black: black;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--black);
  color: var(--red);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 15px 70px 15px 0px;
}

header h1 {
  background-color: var(--red);
  font-size: 4vw;
  font-weight: bold;
  padding: 5px 5px 5px 150px;
  margin-left: 0px;
  color: var(--black);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
nav a {
  color: var(--red);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  background-image: linear-gradient(90deg, purple, blue);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  background-position: bottom;
  margin: 0 7px;
  transition: all 300ms ease-in-out;
  align-items: center;
}

nav a:hover {
  color: var(--black);
  background-size: 100% 100%;
}

.sunset-background {
  margin: 0px;
  height: 300px;
  background-image: url("/Assets/images/desert\ sunset.jpeg");
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sunset-background h2 {
  color: var(--red);
  padding: 10px;
  display: inline-block;
  margin: 0px 100px 20px 0px;
  font-size: 2rem;
  background: var(--black);
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  align-items: stretch;
  justify-content: space-between;
}

section h2 {
  flex: 0 0 18%;
  text-align: right;
  border-right: solid 4px;
  padding-right: 15px;
  color: var(--red);
  font-size: 4vw;
  line-height: 1.1;
}
main section div {
  flex: 0 0 80%;
}

.main-work-div {
  display: flex;
  flex: 0 0 80%;

  direction: row;
  justify-content: space-between;
  align-items: flex-end;

  flex-wrap: wrap;
}

.background1 {
  background-image: url(./Assets/images/surf.jpeg);
}

.background1-style {
  flex: 0 0 100%;
  border: 4px solid var(--red);
  background-size: 100% 100%;
  min-height: 450px;
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  transition: all 300ms ease-in-out;
}
.background1-style:hover {
  background-color: rgba(240, 248, 255, 0.5);
}
.second-work-div {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border: 4px solid var(--red);
  flex-wrap: wrap;
}

.second-style {
  flex: 0 0 49%;
  border: 4px solid var(--red);
  background-size: 100% 100%;
  min-height: 150px;
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  justify-content: space-between;
  transition: all 300ms ease-in-out;
}
.second-style:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.my-work {
  display: inline-block;
  margin-bottom: 20px;
  background-color: var(--black);
  color: var(--red);
  font-size: 1vw;
  line-height: 1.2;
  padding: 10px;
}

.background2 {
  background-image: url(./Assets/images/images.jpeg);
}
.background3 {
  background-image: url(./Assets/images/Feature-imagee.webp);
}
.background4 {
  background-image: url(./Assets/images/snow.jpeg);
}
.background5 {
  background-image: url(./Assets/images/dark-space-theme-jt2.jpeg);
}

address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

address a {
  color: #b22222;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  background-image: linear-gradient(90deg, purple, blue);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-position: bottom;
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}

address a:hover {
  color: black;
  background-size: 100% 100%;
}

@media screen and (max-width: 980px) {
  header {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  header h1 {
    width: 100%;
    padding: 0;
    font-size: 9vw;
  }
  nav {
    justify-content: center;
  }
  .main-section {
    flex-direction: column;
  }
  section h2 {
    flex-direction: column;
    border-right: none;
    border-bottom: 3px solid red;
    margin-bottom: 20px;
    text-align: left;
  }
  address {
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  address a {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .main-section {
    flex-direction: column;
  }

  main selection h2 {
    width: 100%;
    border-bottom: 3px black solid;
    margin-bottom: 10px;
    border-right: none;
    text-align: left;
    padding-right: 25px;
  }

  main section div {
    width: 100%;
    border: none;
    text-align: left;
  }
  .sunset-background h2 {
    text-align: center;
    justify-content: center;
  }
}
